.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #2d2c2c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-container {
    flex-basis: 30%;
    max-width: 250px; /* maximum width of the logo */
    height: 80px; /* fixed height to maintain aspect ratio */
}

.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* fits the image within the container */

}

.nav-menu {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-left: 30px;
    position: relative;
}

.nav-menu a {
    color: #816b23;
    font-size: 20px;
    text-decoration: none;
}

.nav-menu li:hover::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #2d2c2c;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-menu li:hover::before {
    transform: scaleX(1);
}

@media (max-width: 768px) {
    .header {
        flex-wrap: nowrap;
    }

    .logo-container,
    .nav-menu {
        flex-basis: 100%;
    }

    .nav-menu {
        margin-top: 20px;
        justify-content: center;
    }

    .nav-menu li {
        margin-left: 15px;
    }
}
