.hero-container {
    margin-top:100px ;
    background-image: url("../images/akvLogos.jpeg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-btns {
    display: flex;
    justify-content: center;
}

.hero-btns .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin: 0 1rem;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    background-color: #2d2c2c ;
    border: none;
    cursor: pointer;
}

.hero-btns .btn:hover {
    background-color: #816b23;
}
